.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BDB76B; /* Fond vert vif */
    padding: 20px;
}

.game-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-image {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
}

.play-button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.play-button:hover {
    background-color: #45a049;
}

.game-info {
    max-width: 600px;
    margin-left: 20px;
    color: #fff; /* Couleur de texte blanc */
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.home-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.home-button:hover {
    background-color: #45a049;
}